.list-view {
}

.list-view .list-cell:selected {
    -fx-background-color: #434343;
}

 .list-cell {
    -fx-font-size:24.0;
    -fx-padding: 20px;
}

.list-view .label {
    -fx-text-fill: white;
}

.errorField{
    -fx-text-fill: #ffffff;
  -fx-background-color: #ff0000;
}

.text-area .content{
      -fx-background-color: #ff0000;
  }